* {
  font-family: san;
  list-style: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(245, 245, 255);
}
nav {
  position: fixed;
  width: 100%;
  background-color: rgb(25, 100, 200);
  height: 70px;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  line-height: 0px;
  color: white;
  font-size: 28px;
  text-align: center;
  z-index: 1;
}

/* main-container styling */
.main-container {
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;
  float: right;
  margin: 10px;
  height: auto;
  width: 68%;
  top: 80px;
  background-color: white;
  padding: 10px;
}

h2 {
  text-align: left;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 3px groove lightgray;
}
#current-weather {
  float: left;
  text-align: left;
  padding-left: 0px;
  line-height: 300%;
  font-size: 18px;
}

#uv-display{
    border-radius: 3px;
    background-color: goldenrod;
    padding: 3px;
    color: white;
    position: relative;
    top: 2px;
}
/* aside styling */
aside {
  float: left;
  position: relative;
  border-radius: 10px;
  top: 80px;
  left: 0px;
  width: 23%;
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
  height: auto;
  background-color: rgb(27, 41, 114);
  color: white;
}
h3 {
  font-size: 20px;
  margin-bottom: 0px;
}
input {
  height: 44px;
  width: 74%;
  margin-top: 14px;
  font-size: 22px;
  border: 1px solid black;
  border-right: 0px;
}
/* search btn */
.fa-search {
  font-size: 20px;
  color: white;
}

#search-btn {
  width: auto;
  height: 48px;
  background-color: rgb(25, 100, 200);
  border-radius: 0px 7px 7px 0px;
  border: 1px solid black;
  border-left: 0px;
  position: relative;
  bottom: 1px;
}
#search-btn:active {
  background-color: rgb(15, 75, 145);
}

#searched {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  width: 80%;
  height: auto;
  padding-left: 0px;
  padding-right: 19px;
  color: black;
}

.searched-list {
  border-bottom: 2px solid gray;
  width: 100%;
  padding-left: 20px;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-variant-caps: all-petite-caps;
}
.searched-list:hover {
  background-color: rgb(215, 245, 255);
}

/* forecast styling */
.forecast-container {
  border: 1px solid grey;
  border-radius: 10px;
  float: right;
  margin: 10px;
  height: auto;
  width: 68%;
  position: relative;
  top: 75px;
  background-color: white;
  padding: 10px;
  text-align: left;
}

.forecast-card {
  background-color: rgb(50, 110, 200);
  border-radius: 5px;
  width: 125px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: 0px;
  display: inline-table;
  color: white;
}