* {
  font-family: san;
  list-style: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

p{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
body {
  background-color: rgb(245, 245, 255);
}
nav {
  position: fixed;
  width: 100%;
  background-color: rgb(25, 100, 200);
  height: 70px;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  line-height: 0px;
  color: white;
  font-size: 28px;
  text-align: center;
  z-index: 1;
}

/* main-container styling */
.main-container {
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;
  float: right;
  margin: 10px;
  height: auto;
  width: 70%;
  top: 80px;
  background-color: white;
  padding: 10px;
  padding-bottom: 50px;
}

#no-display{
  display: none;
}

#city-display{
    text-transform: uppercase;
}
h2 {
  text-align: left;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 3px groove lightgray;
  border-radius: 10px;
}
#current-weather {
  float: left;
  text-align: left;
  padding-left: 0px;
  font-size: 18px;
  line-height: 60px;
}

#uv-span {
  border-radius: 3px;
  background-color: goldenrod;
  padding: 3px;
  color: white;
  position: relative;
  top: 2px;
}
/* aside styling */
aside {
  float: left;
  position: relative;
  border-radius: 10px;
  top: 80px;
  left: 0px;
  width: 23%;
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
  height: auto;
  background-color: rgb(45, 64, 150);
  color: white;
}


h3 {
  font-size: 30px;
  margin-bottom: 0px;
}
input {
  height: 44px;
  width: 74%;
  margin-top: 14px;
  font-size: 22px;
  border: 1px solid black;
  border-right: 0px;
}
/* search btn */
.fa-search {
  font-size: 20px;
  color: white;
}

.fa-sun{
    color: orange;
    font-size: 28px;
    padding-left: 10px;
}

.fa-snowflake{
    color: skyblue;
    font-size: 28px;
    padding-left: 10px;
}


#search-btn {
  width: 35px;
  height: 48px;
  background-color: rgb(25, 100, 200);
  border-radius: 0px 7px 7px 0px;
  border: 1px solid black;
  border-left: 0px;
  position: relative;
  bottom: 2px;
}
#search-btn:active {
  background-color: rgb(15, 75, 145);
}

#searched {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  width: 87%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  color: black;
}

.searched-list {
  border-bottom: 2px solid gray;
  width: 100%;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: left;
}
.searched-list:active {
  background-color: rgb(215, 245, 255);
}

/* forecast styling */
.forecast-container {
  border-top: 5px groove lightgrey;
  border-radius: 10px;
  margin-top: 20px;
  height: auto;
  width: 100%;
  display: inline-block;
  background-color: white;
  padding: 0px;
  padding-top: 10px;
  text-align: center;

}

.forecast-card {
  background-color: rgb(50, 110, 200);
  border-radius: 5px;
  border: 3px solid rgb(50, 110, 200);
  width: auto;
  height: auto;
  margin-top: 10px;
  display: inline-table;
  color: white;
  font-size: 16px;
  line-height: 30px;
}

.forecast-card:hover {
  background-color: rgb(38, 85, 156);
}

/* media queries */

@media (max-width: 750px) {
  .main-container {
    width: 90%;
    margin: 0px;
    margin-top: 20px;
    float: left;
    padding: 10px;
  }

  
  

  aside {
    width: 90%;
    position: relative;
    top: 70px;
    float: left;
    padding: 10px;
    margin: 0px;
  }
}
@media (max-width: 425px) {
  nav {
    font-size: small;
    height: 40px;
  }
}

@media (max-width: 750px) {
  .main-container {
    width: 90%;
    margin: 0px;
    margin-top: 20px;
    float: left;
    padding: 10px;
  }

  aside {
    width: 90%;
    position: relative;
    top: 70px;
    float: left;
    padding: 10px;
    margin: 0px;
  }
}

@media (max-width: 910px) {
  aside {
    width: 80%;
    margin: 0% 10% 0% 10%;
    z-index: 1;
  }
  .main-container {
    width: 80%;
    float: none;
    z-index: 0;
    top: 100px;
    margin: 0% 10% 0% 10%;

  }

}